/.idea
Project.xml
.mypy_cache
__pycache__
target
.vs
/*.csv
/cpp/*/*.user
/cpp/*/*.vcxproj.filters
/cpp/a.exe
/cpp/x64
/cpp/*/x64
/[cf]sharp/*/bin
/[cf]sharp/*/obj
/csharp/*/*.user
/csharp/packages
/go/Stats/testdata
/java/.idea/workspace.xml
/java/.idea/*.iml
/java/.jqwik-database
/java/out
/kotlin/lib
/kotlin/out
/node_modules
/python3/.hypothesis
/python3/.idea
/python3/activate.bat
/python3/venv*
/rust/*.psess
/rust/*.vspx
/rust/measure/measure.vcxproj.filters
/rust/measure/x64
/scala/bron-kerbosch.iml
/scala/.bsp/sbt.json
/scala/.idea/codeStyles/codeStyleConfig.xml
/scala/.idea/encodings.xml
/scala/.idea/libraries
/scala/.idea/misc.xml
/scala/.idea/scala_compiler.xml
/scala/.idea/scala_settings.xml
/scala/.idea/workspace.xml
/scala/.idea/.name
/scala/target
/zig/.zig-cache
