/.idea
Project.xml
.mypy_cache
__pycache__
target
/*.csv
/csharp/.vs
/csharp/*/bin
/csharp/*/obj
/csharp/*/*.user
/csharp/packages
/java/.idea/libraries
/java/.gradle
/java/gradle
/java/gradlew
/java/gradlew.bat
/java/lombok.config
/java/.jqwik-database
/java/build
/java/lib
/python3/.hypothesis
/python3/activate.bat
/python3/venv
/rust/.vs
/rust/*.psess
/rust/*.vspx
/rust/measure/measure.vcxproj.filters
/rust/measure/x64
/scala/target
/scala/bron-kerbosch.iml
/scala/.idea/.name
/scala/.idea/codeStyles/codeStyleConfig.xml
/scala/.idea/encodings.xml
/scala/.idea/misc.xml
/scala/.idea/modules.xml
/scala/.idea/sbt.xml
/scala/.idea/scala_settings.xml
/scala/.idea/workspace.xml
