/.idea
.mypy_cache
__pycache__
target
/*.csv
/csharp/.vs
/csharp/bin
/csharp/obj
/rust/.vs
/rust/*.psess
/rust/*.vspx
/rust/measure/measure.vcxproj.filters
/rust/measure/x64
/scala/lib
/scala/out
/scala/bron-kerbosch.iml
/scala/.idea/.name
/scala/.idea/codeStyles/codeStyleConfig.xml
/scala/.idea/encodings.xml
/scala/.idea/misc.xml
/scala/.idea/modules.xml
/scala/.idea/sbt.xml
/scala/.idea/scala_settings.xml
/scala/.idea/workspace.xml
